body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background: #182032;
    font-family: AktivGroteskStd, sans-serif;
    color: #602B24;
}

.page {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.alert_container {
    width: 100%;
    height: 100%;
}

#alert_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#alert_window {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    background: #E6E3E1;
}

#alert_title {
    color: #2B415D;
    font-weight: 800;
}

#alert_message {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #666;
}

#alert_buttons {
    text-align: right;
}

.alert_button {
    cursor: pointer;
    padding-left: 10px;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.alert_button:hover {
    color: #E37954;
}

.transparent {
    opacity: 0 !important;
}

.display_none {
    display: None !important;
}

@media screen and (max-width: 600px) {
    .alert_button {
        cursor: pointer;
        width: 100%;
        display: block;
        background: #bbb;
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -ms-transition: color 0.5s;
        -o-transition: color 0.5s;
        transition: color 0.5s;
    }
}