body {
    background: #222;
    font-family: AktivGroteskStd, sans-serif;
    color: #ddd;
    padding-top: 50px;
    box-sizing: border-box;
}

#nav {
    text-align: center;
    background: #555;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #aa3f00;
}

.nav_item {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: #ddd;
    font-size: 18px;
    font-weight: 800;
    transition: color 0.5s;
}

.nav_item:hover {
    color: #888;
}

.page {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
