body {
    background: #222;
    font-family: AktivGroteskStd, sans-serif;
    color: #ddd;
    padding-top: 43px;
    box-sizing: border-box;
}

#content {
    height: 100%;
}

#nav {
    text-align: center;
    background: #555;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #aa3f00;
}

#nav_inner {
    width: 100%;
    max-width: 1000px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.nav_item {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: #ddd;
    font-size: 18px;
    font-weight: 800;
    transition: color 0.5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav_item:hover {
    color: #888;
}

#search_input {
    border: none;
    padding: 8px 13px;
    background: #333;
    color: #fff;
    font-size: 14px;
    margin: 5px 0 0 0;
    display: inline-block;
    float: right;
}

.page {
    height: 100%;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

#coggle {
    width: 100%;
    height: 100%;
    border: none;
}

.spark {
    position: fixed;
    width: 2px;
    height: 2px;
    background: rgba(0, 0, 0, 0);
    z-index: 10000;
    padding-left: 5px;
    border-right: 2px solid #E37954;
    animation: 10s opacity_fade;
    -webkit-animation: 10s opacity_fade;
}

@keyframes opacity_fade {
    0% {
        opacity: 1;
        border-color: #fff;
    }
    10% {
        opacity: 1;
        border-color: #E37954;
    }
    30% {
        opacity: 1;
        border-color: #999;
    }
    100% {
        opacity: 0;
        border-color: #999;
    }
}

@-webkit-keyframes opacity_fade {
    0% {
        opacity: 1;
        border-color: #fff;
    }
    10% {
        opacity: 1;
        border-color: #E37954;
    }
    30% {
        opacity: 1;
        border-color: #999;
    }
    100% {
        opacity: 0;
        border-color: #999;
    }
}