@media screen and (max-width: 800px) {
    #blog_page, #post_page {
        padding-left: 5px;
    }

    .post_author {
        margin-left: -5px;
        margin-top: -70px;
        width: 50px;
        height: 50px;
    }

    .post_author:after {
        content: "";
        position: absolute;
        z-index: -1;
        margin-left: -9px;
        margin-top: -9px;
        width: 70px;
        height: 70px;
        background: #444;
        border-left: 1px solid #aa3f00;
     }

    .post {
        margin-top: 80px;
    }

    .alert_button {
        cursor: pointer;
        width: 100%;
        display: block;
        background: #bbb;
        text-align: center;
        padding: 5px;
        box-sizing: border-box;
        margin-top: 10px;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        -ms-transition: color 0.5s;
        -o-transition: color 0.5s;
        transition: color 0.5s;
    }
}